* {
	margin: 0;
	padding: 0;
  }

body {
	background: #333;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #222;
     }

a {
 	text-decoration: none;
	color: #99AECD;
  }

a:hover {
	text-decoration: underline;
	color: #4F5D7F;
       }


#header {
height: 160px;
background: /*#554d42*/ #ffcc66 url(images/header.jpg) no-repeat;
    text-align: center; 
    color: white; 
    font-size: 300%;
    /* we add this three because the style is INLINE STYLE, so i add it to here  AND we change the header background color to be light color because it more better.*/
}
#header h1 { 
font-size: 50px;
letter-spacing: -7px;
padding: 17px 0 0 10px;
color: #FF5500;
}
#header h1 a { 
color: #D1DDEF;
text-decoration: none;
font-weight: 600;
letter-spacing: -7px;
}
#header h1 a:hover {
color: #fff;
}

#menu {
height: 30px;
    color:thistle;
    font-size: 120%; 
    text-align: center;
    /* we add this three because the style is INLINE STYLE, so i add it to here */
line-height: 30px;
background: #000;
/*we add width*/
}
#menu ul {
list-style-type: none;
padding-left: 30px;
}
#menu ul li {
display: block;
float: left;
}
#menu ul li a {
padding: 0 20px 0 0;
text-decoration: none;
font-weight: 600;
font-size: 12px;
color: #fff;
}
#menu ul li a:hover {
color: #aaa;
text-decoration: none;
}
/*
#content {
padding: 0 20px 20px 0;
}
We din't use this style because the position is not good */
/* We use this style to set the content and picture position */
     /* Style the content */
    #content{
      background-color: #ffcc66;
    }
    /* Style the image size */
    #img1 img{
        height: 100px;
    }
    /* Style the content background */
    #img2{
        background-color: #ffffcc;
        padding-top: 0px;
    }
    /* Style the content background */
    .wrap{
        margin-left: 50px;
        margin-right: 50px;
        background-color: #fffcfc;
    }

#footer {
/*text-align: center;
color: #aaa;*/
font-size: 11px;
    color: white; 
    text-align: center;
    /* we add this two because the style is INLINE STYLE, so i add it to here */
}

/*Blue Button*/
#Blue-Button { margin-left:20px ;  margin-top: 50px;  width: 100px auto; }
#Blue-Button a {
	width: 100px;
	height: auto;
	background-color: rgb(38, 96, 255);
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid transparent;
}
#Blue-Button a:hover { 
	color: black;
	background: white;
}
@media only screen and (max-width: 2560px){
/* For 4k-size */
    #header h1{
        font-size:160%;
    }
    #menu{
        height: 70px;
        font-size: 320%;
        padding-top: 30px;
    }
    button{
        width:150px;
        height: 50px;
        font-size: 30px;
        float: right;
        margin-right: 30px;
    }
    .wrap{
        font-size: 250%;
    }
    .wrap h2{
        padding-top: 0px;
        padding-bottom: 5px;
    }
    #img2{
        padding-top: 10px;
        margin-bottom: 10px;
    }
    #img1 img{
        height: 200px;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    p{
        padding-bottom: 15px;
    }
    #Blue-Button{
        width: 300px;
        font-size: 30px;
    }
    #footer{
        font-size: 30px;
    }
}
@media only screen and (max-width: 1440px){
/* For laptop L */
    #header h1{
        font-size: 150%;
    }
    #menu{
        height: 40px;
        font-size: 200%;
        padding-top: 10px;
    }
    button{
        width:100px;
        height: 30px;
        font-size: 20px;
        float: right;
        margin-right: 30px;
    }
    .wrap{
        font-size: 190%;
    }
    #img1 img{
        height: 190px;
    }
    #Blue-Button{
        width: 200px;
        font-size: 20px;
    }
    #footer{
        font-size: 20px;
    }
}
@media only screen and (max-width: 1024px){
/* For laptop  */
    #header h1{
        font-size: 150%;
    }
    #menu{
        height: 40px;
        font-size: 160%;
        padding-top: 10px;
    }
    button{
        width:90px;
        height: 28px;
        font-size: 18px;
        float: right;
        margin-right: 30px;
    }
    .wrap{
        font-size: 190%;
    }
    #img1 img{
        height: 190px;
    }
    #Blue-Button{
        width: 180px;
        font-size: 18px;
    }
    #footer{
        font-size: 18px;
    }
}
@media only screen and (max-width: 768px){
/* For Tablet */
    #header h1{
        font-size: 125%;
    }
    #menu{
        height: 35px;
        font-size: 95%;
        padding-top: 8px;
    }
    button{
        width:40px;
        height: 20px;
        font-size: 8px;
        float: right;
        margin-right: 2px;
        margin-top: 5px;
    }
    .wrap{
        font-size: 110%;
    }
    #img1 img{
        height: 120px;
    }
    #Blue-Button{
        width: 111px;
        font-size: 10px;
    }
    #footer{
        font-size: 10px;
    }
}
@media only screen and (max-width: 425px){
/* For Mobile L */
    #header h1{
        font-size: 110%;
    }
    #menu{
        height: 27px;
        font-size: 84%;
        padding-top: 0px;
    }
    button{
        width:30px;
        height: 15x;
        font-size: 6px;
        float: right;
        padding-right: 0px;
        margin-top: 4px;
    }
    .wrap{
        font-size: 100%;
    }
    #img1 img{
        height: 110px;
    }
    #Blue-Button{
        width: 100px;
        font-size: 8px;
    }
    #footer{
        font-size: 10px;
    }
}
@media only screen and (max-width: 375px){
/* For Mobile M */
    #header{
        height: 90px;
        padding-top: -10px;
        padding-bottom: 28px;
    }
    #header h1{
        font-size: 85%;
    }
    #menu{
        height: 55px;
        font-size: 140%;
        padding-top: 1px;
        text-align: left;
    }
    button{
        width:10px;
        height: 22px;
        font-size: 7px;
        float: right;
        padding-right: 22px;
        margin-top: -2px;
    }
    .wrap{
        font-size: 100%;
    }
    #img1 img{
        height: 110px;
    }
    #Blue-Button{
        width: 100px;
        font-size: 8px;
    }
    #footer{
        font-size: 10px;
    }
}
@media only screen and (max-width: 320px){
/* For Mobile S */
    #header{
        height: 50px;
        
        padding-bottom:60px;
    }
    #header h1{
        font-size: 80%;
    }
    #menu{
        height: 55px;
        font-size: 100%;
        padding-top: 1px;
        text-align: center;
    }
    button{
        width:12px;
        height: 20px;
        font-size: 6px;
        float: right;
        padding-right: 20px;
        margin-top: 2px;
    }
    .wrap{
        font-size: 100%;
    }
    #img1 img{
        height: 110px;
    }
    #Blue-Button{
        width: 100px;
        font-size: 8px;
    }
    #footer{
        font-size: 10px;
    }
}
----------------------------------------------------
/*
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: darkolivegreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    line-height: 20px;
}
#wrap {
	margin: auto;
	width: 1000px;
	background: rgb(63, 63, 63);
	border: 2px solid #000;
}

#wrap {
	margin: 20px auto 10px auto;
	width: 800px;
	background: #fff;
	padding: 10px;
	border: 5px solid #000;
}
<!-- Template for the home page -->
#menu{
    height: 30px;
    line-height: 30px;
    background-color: grey;
    color: white
}
#menu ul {
    list-style-type: none;
    padding-left: 30px;
    }
#menu ul li {
    display: block;
    float: left;
    }
#menu ul li a {
    padding: 20px;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    color: whitesmoke
    }
#header{
    height: 160px;
    background-color: darkslategray;
}
#header h1 { 
    font-size: 50px;
    letter-spacing: -7px;
    padding: 17px 0 0 10px;
    color: #FF5500;
}
.right {
float: right;
width: 600px;
text-align: justify;
padding-top: 5px;
}
.right h2 {
font-size: 18px;
font-weight: 100;
padding: 15px 0 7px 0;
}
.right h2 a {
text-decoration: none;
}
.right h2 a:hover {

}

.left {
float: left;
width: 160px;
padding-top: 10px;
}
.left h2 {
margin: 10px 0 0 0;
padding-left: 10px;
height: 24px;
line-height: 24px;
color: #7988AF;
font-size: 15px;
}
.left ul {
padding: 10px 0 15px 30px;
list-style-type: square;
color: #99AECD;
}
.left ul li a {
text-decoration: none;
font-weight: 600;
}
.left ul li a:hover {

}
#footer a { color: #aaa; }
#footer a:hover { color: #111; }
*/
/* We don't need this because there are the real one in the above this css */