body {font-family: Arial, Helvetica,
 sans-serif;background-color:#554d42;}

input[type=text], input[type=password] {
  width: 100%; /*column of text and password width will be 100%*/
  padding: 12px 20px;/*distance for box name between box name and box password*/
  margin: 8px 0;/*margin will be 8px*/
  display: inline-block; /*di box will display in one paragraph*/
  border: 1px solid #ccc; /*border for box*/
  box-sizing: border-box; /*border will be according to the box*/
}

button {
  background-color: #4CAF50; /*color in the column for login*/
  color: white;
  padding: 14px 20px; /*distance for box name between box name and login*/
  margin: 8px 0;/*margin will be 8px*/
  border: none;
  cursor: pointer;
  width: 100%;/*column of text and login width will be 100%*/
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;/*To clarify the column in the Cancel*/ 
  padding: 10px 20px;/*Distance between names of forget passwords box */
  background-color: #f44336;/*Color in the column to login */
}

.imgcontainer {
  text-align:center;/*To change the position of the image to */
  margin: 28px 0 12px 0; /*margin will be 24px 0 12px Distance between image and column */
}

img.avatar {
  width: 30%;/*Distance between images */ 
  border-radius: 50%;
}

.container {
  padding:16px;

}

span.psw {
  float: right;/*Provide the distance between cancel and forgot password */
  padding-top: 16px;/*To adjust the position of additional content*/
}
span.psw b{
    color: deepskyblue;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

#header {
height: 130px;
background: #554d42 url(images/header.jpg) no-repeat;
    text-align: center; 
    color: red; 
    font-size: 250%;
    font-family:;
    
}
a{
    color: cyan;
}
label{
    color: red;
}

